* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

header {
    background-color: rgb(84, 84, 225);
    padding: 16px 0;
    color: #fff;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 15px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.txt-sobre h2 {
    color: rgb(84, 84, 225);
    margin-bottom: 5px;
}

.txt-sobre hr {
    margin-bottom: 35px;
    border-top: 3px solid rgb(84, 84, 225);
}

.txt-sobre p {
    font-size: 20px;
}
.store-front {
    width: 400px;
    height: 400px;
    margin-right: 35px;
}

.container h2 {
    color: rgb(84, 84, 225);
    margin-bottom: 5px;
}

.nossos-produtos {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: block;
    justify-content: space-between;
    margin-top: 25px;
}

.nossos-produtos h2 {
    color: rgb(84, 84, 225);
    margin-bottom: 5px;
    margin-top: 60px;
} 
.nossos-produtos hr {
    margin-bottom: 35px;
    border-top: 3px solid rgb(84, 84, 225);
}

.container-flex {
    display: flex;
}

.lista-tenis li {
    list-style: none;
}

.lista-tenis p {
    margin-top: 16px;
    margin-bottom: 16px;
}

.lista-tenis {
    justify-content: space-between;
}

.lista-tenis li button {
    display: block;
    width: 95%;
    margin-bottom: 2px;
    padding: 8px 0 ;
    border: none;
    border-radius: 3px;
    background-color: rgb(84, 84, 225);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}








